<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa ...">
        </div>

        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value=""> -- Chọn giới tính --</option>
                <option value="male"> Nam </option>
                <option value="female"> Nữ </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>